/*==========================================================================
  Global Imports
  ==========================================================================*/

  @import "icon-font";


/*==========================================================================
  Google Web Fonts
  ==========================================================================*/

  @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);


/*==========================================================================
  Variables
  ==========================================================================*/
  
  // Layout
  $app-min-width: 700px;
  $toolbar-height: 38px;
  $sidebar-width: 200px;
  $player-height: 80px;

  // Colors
  $white: #ecf0f1;
  $blue: #34495e;
  $light-blue: tint($blue, 25%);
  $lighter-blue: tint($blue, 50%);
  $dark-blue: shade($blue, 25%);
  $darker-blue: shade($blue, 50%);


/*==========================================================================
  Placeholders
  ==========================================================================*/

  %scroll-panel {
    overflow: scroll;
    height: 100%;
  }


/*==========================================================================
  Global Styles
  ==========================================================================*/

  * {
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }

  body {
    margin: 0;
    min-width: $app-min-width;
    font-family: "Source Sans Pro", sans-serif;
  }

  a {
    text-decoration: none;
    transition: all .2s ease;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  input {
    padding: 10px;
    border: none;
  }

  .button {
    padding: 0;
    border: 0;
    background: none;
    transition: all .2s ease;
    &:hover {
      cursor: pointer;
    }
  }


/*==========================================================================
  Sidebar
  ==========================================================================*/

  .sidebar {
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: $player-height;
    width: $sidebar-width;
    height: 100%;
    color: $lighter-blue;
    .sidebar-container {
      @extend %scroll-panel;
      padding-top: 8px;
      background: $darker-blue;
      flex: 1;
    }
    .sidebar-title {
      position: relative;
      padding: 8px 12px;
      color: $blue;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      .button {
        position: absolute;
        top: 0;
        right: 4px;
        width: 30px;
        height: 30px;
        color: inherit;
        font-size: 12px;
        &:hover {
          color: $white;
        }
      }
    }
    ul {
      margin: 0 0 8px 0;
      padding: 0;
      list-style: none;
      a {
        position: relative;
        display: block;
        padding: 4px 10px;
        color: $lighter-blue;
        font-weight: 600;
        font-size: 13px;
        line-height: 1.8;
        &:hover {
          background: $dark-blue;
          color: $white;
        }
        &:before {
          @extend %icon;
          position: relative;
          top: -1px;
          margin-right: 4px;
          font-size: 22px;
        }
        &.songs {
          @extend .icon-songs;
        }
        &.artists {
          @extend .icon-artists;
        }
        &.albums {
          @extend .icon-albums;
        }
        &.genres {
          @extend .icon-genres;
        }
        &.playlist {
          @extend .icon-playlist;
        }
      }
    }
    .now-playing {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .sidebar-title {
        width: 100%;
        background: $blue;
        color: $light-blue;
      }
      .now-playing-info {
        position: absolute;
        bottom: 0;
        z-index: 2;
        padding: 14px 12px;
        width: 100%;
        &:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: rgba(0, 0, 0, 0.8);
          content: '';
        }
        .track-name {
          color: $white;
          font-weight: 600;
          font-size: 13px;
        }
        .track-info {
          color: $lighter-blue;
          font-weight: 300;
          font-size: 12px;
        }
      }
      .now-playing-artwork {
        width: 100%;
        height: auto;
      }
    }
  }


/*==========================================================================
  Main
  ==========================================================================*/

  .main {
    padding-bottom: $player-height;
    padding-left: $sidebar-width;
    width: 100%;
    background: $light-blue;
    .toolbar {
      position: absolute;
      left: 0;
      padding-left: $sidebar-width;
      width: 100%;
      height: $toolbar-height;
      background: $blue;
      .search {
        position: relative;
        float: right;
        width: $sidebar-width;
        color: $lighter-blue;
        &:before {
          @extend %icon;
          @extend .icon-search;
          position: absolute;
          top: 12px;
          left: 10px;
        }
        input {
          padding: 0 15px 0 30px;
          width: 100%;
          height: $toolbar-height;
          background: $darker-blue;
        }
      }
    }
    .media-list {
      @extend %scroll-panel;
      padding-top: $toolbar-height;
    }
  }


/*==========================================================================
  Player
  ==========================================================================*/

  .player {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    min-width: $app-min-width;
    width: 100%;
    height: $player-height;
    background: $dark-blue;
    color: $light-blue;
    text-align: center;
    .player-col-side {
      padding: 20px 0;
      width: $sidebar-width;
    }
    .player-col-middle {
      flex: 1;
    }
    .button {
      width: 40px;
      height: 40px;
      color: $light-blue;
      font-size: 24px;
      line-height: 0;
      &:hover {
        color: $white;
      }
      &.button-play {
        margin: 0 4px;
        border-radius: 50%;
        background: $light-blue;
        color: $dark-blue;
        &:hover {
          background: $lighter-blue;
          color: $darker-blue;
        }
      }
    }
  }

  .progress {
    position: relative;
    top: 35px;
    margin: 0 40px;
    .time {
      position: absolute;
      top: -1px;
      z-index: 1;
      font-size: 12px;
      line-height: 1;
      &.time-passed {
        left: 0;
      }
      &.time-remain {
        right: 0;
      }
    }
    .progress-bar-container {
      position: relative;
      margin: 0 35px;
      height: 10px;
    }
    .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background: $darker-blue;
    }
    .progress-bar-played {
      z-index: 1;
      width: 30%;
      background: $light-blue;
      .progress-tick {
        position: absolute;
        top: -2px;
        right: -4px;
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: $lighter-blue;
        content: '';
        transition: all .2s ease;
        &:hover {
          background: $white;
          cursor: pointer;
        }
      }
    }
  }