.view-sidebar
  .view-sidebar-header
    .search
      input(type="text", placeholder="Search", ng-model="search.list", ng-focus="data.searchFocus = true", ng-blur="data.searchFocus = false")
    .dropdown-wrapper.actions
      a.dropdown-toggle(ng-click="showDropdown = !showDropdown")
        | Sorted By {{ albumSort.name }}
      .dropdown.dropdown-right(ng-class="{show: showDropdown}")
        ul.dropdown-menu
          li
            a(ng-click="setAlbumSort('Artist'); showDropdown = false") Artist
          li
            a(ng-click="setAlbumSort('Title'); showDropdown = false") Title
  ul.view-sidebar-list
    li.item(ng-repeat="album in data.albums | orderBy:albumSort.value | filter:{name: search.list}", ng-click="activateItem(album, 'album')", ng-class="{active: album.active}")
      a
        .item-image
          img(ng-src="{{album.coverArtURL || '/static/img/missing-artwork.png'}}")
        .item-info
          .item-info-name {{album.name}}
          .item-info-details {{album.artist}}
.view-main
  .view-main-header
    .view-details
      .item-image
        img(ng-src="{{activeItems.album.coverArtURL || '/static/img/missing-artwork.png'}}")
      .item-info
        .item-info-name {{activeItems.album.name}}
        .item-info-details {{activeItems.album.artist}}
          button.button(ng-click="play()") Play All
    .search
      input(type="text", placeholder="Search", ng-model="search.searchText", ng-focus="data.searchFocus = true", ng-blur="data.searchFocus = false")
  .view-main-list(ng-grid="gridOptions")
