ul.view-defaults.grid-view
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Thriller
        .item-info-details Michael Jackson