ul.view-defaults.list-view
  li.item(ng-repeat="(name, artist) in artists")
    a
      .item-image
        img(ng-src="{{artist.coverArtURL || '/static/img/missing-artwork.png'}}")
      .item-info
        .item-info-name {{name}}
        .item-info-details {{artist.albumCount}} Albums, {{artist.songs.length}} Songs
.media-list(ng-grid="gridOptions")
