.view-items.list-view
  ul
    li.item(ng-repeat="artist in data.artists", ng-click="activateItem(artist, 'artist')", ng-class="{active: artist.active}")
      a
        .item-image
          img(ng-src="{{artist.coverArtURL || '/static/img/missing-artwork.png'}}")
        .item-info
          .item-info-name {{artist.name}}
          .item-info-details {{artist.albums.length}} Albums, {{artist.songs.length}} Songs
.view-details
  .view-header
    h1.view-heading Artist Name
  .media-list(ng-grid="gridOptions")