.view-items.list-view
  ul
    li.item(ng-repeat="artist in data.artists | orderBy: artist.name", ng-click="activateItem(artist, 'artist')", ng-class="{active: artist.active}")
      a
        .item-image
          img(ng-src="{{artist.coverArtURL || '/static/img/missing-artwork.png'}}")
        .item-info
          .item-info-name {{artist.name}}
          .item-info-details {{artist.albums.length}} Albums, {{artist.songs.length}} Songs
.view-details
  .view-header
    h2 {{activeItems.artist.name}}
    h3 {{activeItems.artist.albums.length}} Albums, {{activeItems.artist.songs.length}} Songs
    button.button(ng-click="play()") Play
  .media-list(ng-grid="gridOptions")
