ul.view-defaults.list-view
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Electric Light Orchestra
        .item-info-details 3 Albums, 10 Songs
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Fastball
        .item-info-details 3 Albums, 10 Songs
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Foreigner
        .item-info-details 3 Albums, 10 Songs
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name The Format
        .item-info-details 3 Albums, 10 Songs
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name The Fray
        .item-info-details 3 Albums, 10 Songs
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Gary Wright
        .item-info-details 3 Albums, 10 Songs
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name Genesis
        .item-info-details 3 Albums, 10 Songs
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name George Michael
        .item-info-details 3 Albums, 10 Songs
  li.item
    a
      .item-image
        img(src="static/img/missing-artwork.png")
      .item-info
        .item-info-name The Goo Goo Dolls
        .item-info-details 3 Albums, 10 Songs
.media-list(ng-grid="gridOptions")