ul.view-list
  li
    a.artist
      .artist-image
        img(src="static/img/missing-artwork.png")
      .artist-info
        .artist-info-name Electric Light Orchestra
        .artist-info-details 3 Albums, 10 Songs
  li
    a.artist
      .artist-image
        img(src="static/img/missing-artwork.png")
      .artist-info
        .artist-info-name Fastball
        .artist-info-details 3 Albums, 10 Songs
  li
    a.artist
      .artist-image
        img(src="static/img/missing-artwork.png")
      .artist-info
        .artist-info-name Foreigner
        .artist-info-details 3 Albums, 10 Songs
  li
    a.artist
      .artist-image
        img(src="static/img/missing-artwork.png")
      .artist-info
        .artist-info-name The Format
        .artist-info-details 3 Albums, 10 Songs
  li
    a.artist
      .artist-image
        img(src="static/img/missing-artwork.png")
      .artist-info
        .artist-info-name The Fray
        .artist-info-details 3 Albums, 10 Songs
  li
    a.artist
      .artist-image
        img(src="static/img/missing-artwork.png")
      .artist-info
        .artist-info-name Gary Wright
        .artist-info-details 3 Albums, 10 Songs
  li
    a.artist
      .artist-image
        img(src="static/img/missing-artwork.png")
      .artist-info
        .artist-info-name Genesis
        .artist-info-details 3 Albums, 10 Songs
  li
    a.artist
      .artist-image
        img(src="static/img/missing-artwork.png")
      .artist-info
        .artist-info-name George Michael
        .artist-info-details 3 Albums, 10 Songs
  li
    a.artist
      .artist-image
        img(src="static/img/missing-artwork.png")
      .artist-info
        .artist-info-name The Goo Goo Dolls
        .artist-info-details 3 Albums, 10 Songs
.media-list(ng-grid="gridOptions")