.view-sidebar
  .view-sidebar-header
    .search
      input(type="text", placeholder="Search", ng-focus="data.searchFocus = true", ng-blur="data.searchFocus = false")
  ul.view-sidebar-list
    li.item(ng-repeat="artist in data.artists | orderBy: artist.name", ng-click="activateItem(artist, 'artist')", ng-class="{active: artist.active}")
      a
        .item-image
          img(ng-src="{{artist.coverArtURL || '/static/img/missing-artwork.png'}}")
        .item-info
          .item-info-name {{artist.name}}
          .item-info-details {{artist.albums.length}} Albums, {{artist.songs.length}} Songs
.view-main
  .view-main-header
    .view-details
      .item-image
        img(ng-src="{{activeItems.artist.coverArtURL || '/static/img/missing-artwork.png'}}")
      .item-info
        .item-info-name {{activeItems.artist.name}}
        .item-info-details {{activeItems.artist.albums.length}} Albums, {{activeItems.artist.songs.length}} Songs
        button.button(ng-click="play()") Play All
    .search
      input(type="text", placeholder="Search", ng-model="search.searchText", ng-focus="data.searchFocus = true", ng-blur="data.searchFocus = false")
  .view-main-list(ng-grid="gridOptions")
