.view-items.list-view
  ul
    li.item(ng-repeat="genre in data.genres", ng-click="activateItem(genre, 'genre')", ng-class="{active: genre.active}")
      a
        .item-info
          .item-info-name {{genre.name}}
          .item-info-details {{genre.songs.length}} Songs
.view-details
  .view-header
    h2 Genre
    h3 10 Songs, 2 Hours 11 Minutes
    button.button Play
    button.button(ng-click="play()") Play
  .media-list(ng-grid="gridOptions")
