ul.view-defaults.list-view
  li.item(ng-repeat="genre in data.genres", ng-click="activateItem(genre, 'genre')", ng-class="{active: genre.active}")
    a
      .item-info
        .item-info-name {{genre.name}}
        .item-info-details {{genre.songs.length}} Songs
.media-list(ng-grid="gridOptions")
