ul.view-defaults.list-view
  li.item
    a
      .item-info
        .item-info-name Pop
        .item-info-details 10 Songs
  li.item
    a
      .item-info
        .item-info-name Country
        .item-info-details 10 Songs
.media-list(ng-grid="gridOptions")