.view-sidebar(ng-class="{focused: data.focusedPane == 'list'}")
  .view-sidebar-header
    .search
      input(type="text", placeholder="Search", ng-model="search.list", ng-focus="data.searchFocus = true", ng-blur="data.searchFocus = false")
  list(options="listOptions")
    a
      .item-info
        .item-info-name {{row.entity.name}}
        .item-info-details
          ng-pluralize(count="row.entity.songs.length", when="{'1': '1 Song', 'other': '{} Songs'}")
.view-main(ng-class="{focused: data.focusedPane == 'grid'}")
  .view-main-header
    .view-details
      .item-info
        .item-info-name {{selectedItems.genre.name}}
        .item-info-details
          ng-pluralize(count="selectedItems.genre.songs.length", when="{'1': '1 Song', 'other': '{} Songs'}")
        .view-actions
          button.button(ng-click="play()") Play All
    .search
      input(type="text", placeholder="Search", ng-model="search.grid", ng-focus="data.searchFocus = true", ng-blur="data.searchFocus = false")
  .view-main-list(ng-grid="gridOptions")
