doctype html
html
  head
    title
      | Audio Testing
    link(rel="stylesheet", href="/static/css/themes/default/styles.css")
  body(ng-app="app", ng-controller="main")
    .container
      .sidebar
        nav.nav
          .label.sidebar-title Music
            button.button(ng-click="openModal()")
              span.icon-gear
          ul
            li
              a(ng-href="/", ng-class="{active: !params.group}")
                span.icon-playlist
                | Songs
            li
              a(ng-href="/artists", ng-class="{active: params.group == 'artists'}")
                span.icon-playlist
                | Artists
            li
              a(ng-href="/albums", ng-class="{active: params.group == 'albums'}")
                span.icon-playlist
                | Albums
            li
              a(ng-href="/genres", ng-class="{active: params.group == 'genres'}")
                span.icon-playlist
                | Genres
          .label.sidebar-title Playlists
            button.button
              span.icon-add
          ul.playlists
            li
              a
                span.icon-playlist
                | Smooth Jams
            li
              a
                span.icon-playlist
                | Hibbity Hoppity
        .now-playing-container(ng-class="{isPlaying: !!data.nowPlaying}")
          .now-playing-artwork.now-playing-artwork-large(ng-class="{'hide-artwork': artwork == 'small'}")
            button.button.resize-artwork(ng-click="artwork = 'small'")
              span.icon-minimize
            img(ng-if="data.nowPlaying.coverArtURL", ng-src="{{data.nowPlaying.coverArtURL}}")
          .now-playing
            .now-playing-artwork.now-playing-artwork-small(ng-click="artwork = 'large'", ng-class="{'hide-artwork': artwork == 'large'}")
              button.button.resize-artwork
                span.icon-maximize
              img(ng-if="data.nowPlaying.coverArtURL", ng-src="{{data.nowPlaying.coverArtURL}}")
            .now-playing-info
              .track-name {{ data.nowPlaying.title }}
              .track-info {{ data.nowPlaying.artist }} - {{ data.nowPlaying.album }}
      ng-view.view(ng-controller="grid")
    .player-bar(ng-controller="player")
      .player-buttons
        button.button(ng-click="player.previous()")
          span.icon-prev
        button.button(ng-click="togglePlayback()")
          span(class="{{player.entity.playing ? 'icon-pause' : 'icon-play'}}")
        button.button(ng-click="player.next()")
          span.icon-next
      .progress-container
        .progress(ng-class="{isPlaying: !!player}")
          .time.time-passed {{ player.currentTime | convertTimestamp }}
          .progress-bar
            slider
          .time.time-remain {{ player.duration | convertTimestamp }}
      .player-buttons
        button.button(ng-class="{'active': repeat}", ng-click="toggleRepeat()")
          span(class="{{ repeat == 'one' ? 'icon-repeat-one' : 'icon-repeat' }}")
        button.button(ng-class="{active: data.shuffledData.length}", ng-click="toggleShuffle()")
          span.icon-shuffle
        volume-slider
    script(src="/socket.io/socket.io.js")
    script(src="/static/vendor/jquery/dist/jquery.min.js")
    script(src="/static/vendor/classval/jquery.classval.js")
    script(src="/static/vendor/nouislider/Link.js")
    script(src="/static/vendor/nouislider/jquery.nouislider.js")
    script(src="/static/vendor/angular/angular.js")
    script(src="/static/vendor/angular-route/angular-route.js")
    script(src="/static/js/ui-modal.js")
    script(src="/static/js/ng-grid.js")
    script(src="/static/vendor/lodash/dist/lodash.js")
    script(src="/static/js/compiled/config.js")
    script(src="/static/js/compiled/controllers/main-controller.js")
    script(src="/static/js/compiled/controllers/grid-controller.js")
    script(src="/static/js/compiled/controllers/player-controller.js")
    script(src="/static/js/compiled/controllers/template-controller.js")
    script(src="/static/js/compiled/services.js")
    script(src="/static/js/compiled/directives.js")
    script(src="/static/js/compiled/filters.js")
