doctype html
html
  head
    title
      | Audio Testing
    link(rel="stylesheet", href="static/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="static/css/global.css")
  body
    .container.text-center
      input.input(type="file")
      br
      .controls
        button.btn.btn-default.play
          i.glyphicon.glyphicon-play
        button.btn.btn-default.pause
          i.glyphicon.glyphicon-pause
      br
      .progress
        .progress-bar(role="progressbar")
    script(src="static/js/aurora.js")
    script(src="static/js/flac.js")
    script(src="static/vendor/jquery/dist/jquery.min.js")
    script(src="static/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="static/js/app.min.js")
