doctype html
html
  head
    title
      | Audio Testing
    link(rel="stylesheet", href="static/css/global.css")
  body
    .sidebar
      .sidebar-container
        .sidebar-title Browse
        ul
          li
            a.songs Songs
          li
            a.artists Artists
          li
            a.albums Albums
          li
            a.genres Genres
        .sidebar-title Playlists
          button.button
            span.icon-add
        ul.playlists
          li
            a.playlist Smooth Jams
          li
            a.playlist Hibbity Hoppity
      .now-playing
        .sidebar-title Now Playing
          button.button
            span.icon-arrow-down
        .now-playing-info
          .track-name Billie Jean
          .track-info Michael Jackson - Thriller
        img.now-playing-artwork(src="static/img/thriller.jpg")
    .main
      .toolbar
        .search
          input(type="text", placeholder="Search")
      .media-list
        input(type="file")
  .player
    .player-col-side
      button.button
        span.icon-prev
      button.button
        span.icon-play
      button.button
        span.icon-next
    .player-col-middle
      .progress
        .time.time-passed 1:10
        .time.time-remain 4:32
        .progress-bar-container
          .progress-bar
          .progress-bar.progress-bar-played
            .progress-tick
    .player-col-side
      button.button
        span.icon-repeat
      button.button
        span.icon-shuffle
      button.button
        span.icon-volume
    script(src="static/js/aurora.js")
    script(src="static/js/flac.js")
    script(src="static/js/mp3.js")
    script(src="static/js/aac.js")
    script(src="static/js/alac.js")
    script(src="/socket.io/socket.io.js")
    script(src="static/vendor/jquery/dist/jquery.min.js")
    script(src="static/js/app.min.js")
