doctype html
html
  head
    title
      | Audio Testing
    link(rel="stylesheet", href="/static/css/themes/default/styles.css")
  body(ng-app="app", ng-controller="main")
    .container
      .sidebar
        nav.nav
          .label.sidebar-title Playlists
            button.button
              span.icon-add
          ul.playlists
            li
              a
                span.icon-playlist
                | Smooth Jams
            li
              a
                span.icon-playlist
                | Hibbity Hoppity
        .now-playing-container(ng-class="{isPlaying: !!player}")
          .now-playing-artwork.now-playing-artwork-large
            button.button.resize-artwork
              span.icon-minimize
            img(ng-if="player.entity.coverArtURL", ng-src="{{player.entity.coverArtURL}}")
          .now-playing
            .now-playing-artwork.now-playing-artwork-small.hide-artwork
              button.button.resize-artwork
                span.icon-maximize
              img(ng-if="player.entity.coverArtURL", ng-src="{{player.entity.coverArtURL}}")
            .now-playing-info
              .track-name {{ player.entity.title }}
              .track-info {{ player.entity.artist }} - {{ player.entity.album }}
      .main
        .toolbar
          nav.nav.nav-horizontal
            ul
              li
                a(ng-href="/", ng-class="{active: !params.group}") Songs
              li
                a(ng-href="/artists", ng-class="{active: params.group == 'artists'}") Artists
              li
                a(ng-href="/albums", ng-class="{active: params.group == 'albums'}") Albums
              li
                a(ng-href="/genres", ng-class="{active: params.group == 'genres'}") Genres
              li.dropdown-wrapper
                a.dropdown-toggle(ng-click="showDropdown = !showDropdown")
                  .icon-gear
                .dropdown(ng-class="{show: showDropdown}")
                  nav.nav
                    ul
                      li
                        a Action
                      li
                        a Action
                      li
                        a Action
                      li
                        a Action
          .search
            span.icon-search
            input(type="text", placeholder="Search", ng-model="searchText", ng-focus="searchFocus = true", ng-blur="searchFocus = false")
        ng-view.view
    .control-bar
      .control-buttons
        button.button(ng-click="previous()")
          span.icon-prev
        button.button(ng-click="togglePlayback()")
          span(class="{{player.entity.playing ? 'icon-pause' : 'icon-play'}}")
        button.button(ng-click="next()")
          span.icon-next
      .progress-container
        .progress(ng-class="{isPlaying: !!player}")
          .time.time-passed {{ player.currentTime | convertTimestamp }}
          .progress-bar
            slider
          .time.time-remain {{ player.duration | convertTimestamp }}
      .control-buttons
        button.button(ng-class="{'active': repeat}", ng-click="toggleRepeat()")
          span(class="{{ repeat == 'one' ? 'icon-repeat-one' : 'icon-repeat' }}")
        button.button(ng-class="{active: shuffling}", ng-click="toggleShuffle()")
          span.icon-shuffle
        volume-slider
      script(src="/static/js/aurora.js")
      script(src="/static/js/flac.js")
      script(src="/static/js/mp3.js")
      script(src="/static/js/aac.js")
      script(src="/static/js/alac.js")
      script(src="/socket.io/socket.io.js")
      script(src="/static/vendor/jquery/dist/jquery.min.js")
      script(src="/static/vendor/classval/jquery.classval.js")
      script(src="/static/vendor/nouislider/Link.js")
      script(src="/static/vendor/nouislider/jquery.nouislider.js")
      script(src="/static/vendor/angular/angular.js")
      script(src="/static/vendor/angular-route/angular-route.js")
      script(src="/static/js/ng-grid.js")
      script(src="/static/vendor/lodash/dist/lodash.js")
      script(src="/static/js/compiled/config.js")
      script(src="/static/js/compiled/controllers.js")
      script(src="/static/js/compiled/directives.js")
      script(src="/static/js/compiled/filters.js")
      script(src="/static/js/temp.js")
