//==========================================================================
// Dropdown
//==========================================================================

  .dropdown-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 2px;
  }

  .dropdown {
    @extend %hide;
    position: absolute;
    right: -12px;
    z-index: 9999;

    &.show {
      @extend %show;
    }
  }

  .ngColMenu {
    right: 6px;
  }

  .dropdown-menu {
    position: relative;
    margin: 8px 3px;
    padding: 4px 0;
    min-width: 120px;
    border-radius: 5px;
    background: $dropdown-menu-background;
    list-style: none;
    
    &:before {
      position: absolute;
      top: -4px;
      right: 8px;
      display: block;
      width: 10px;
      height: 10px;
      background: $dropdown-menu-background;
      content: '';
      transform: rotate(45deg);
    }

    li {
      display: block;
    }

    a {
      display: block;
      padding: $dropdown-menu-link-padding;
      border-radius: 4px;
      color: $dropdown-menu-link-color;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
      line-height: 1;

      &:hover {
        color: $dropdown-menu-link-hover-color;
      }
    }

    li:last-child a {
      border-bottom: none;
    }
  }