//==========================================================================
// Dropdown
//==========================================================================

  .dropdown-wrapper {
    position: relative;
    display: inline-block;
  }

  .dropdown {
    @extend %hide;
    position: absolute;
    left: -25px;
    z-index: 9999;

    &.dropdown-right {
      right: -15px;
      left: auto;
    }

    &.show {
      @extend %show;
    }
  }

  .dropdown-menu,
  .ngColMenu {
    position: relative;
    margin: 8px 2px;
    padding: 4px;
    min-width: 120px;
    background: $dropdown-menu-background;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    list-style: none;
    
    &:before {
      position: absolute;
      top: -6px;
      right: 13px;
      display: block;
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
      background: $dropdown-menu-background;
      content: '';
      z-index: -1;
    }

    li {
      display: block;
    }

    a {
      display: block;
      padding: $dropdown-menu-link-padding;
      color: $dropdown-menu-link-color;
      font-size: 13px;
      line-height: 1;
      border-radius: 4px;

      &:hover {
        background: $dropdown-menu-link-background-hover;
      }
    }

    li:last-child a {
      border-bottom: none;
    }
  }