//==========================================================================
// Global Styles
//==========================================================================

  * {
    @include scrollbar(10px, $primary-light, $primary-lighter);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    
    &:focus {
      outline: none;
    }
  }

  html {
    position: relative;
    height: 100%;
  }

  body {
    @extend %flex-column;
    position: relative;
    overflow: hidden;
    margin: 0;
    min-width: $app-min-width;
    height: 100%;
    font-size: 13px;
    font-family: "Cabin Condensed", sans-serif;
  }

  .container {
    @extend %flex-row;
    flex: 1;
  }

  .main {
    display: flex;
    background: tint($primary-lighter, 50%);
    flex: 1;
  }

  .view {
    @extend %flex-row;
    flex: 1;
  }
  
  a {
    text-decoration: none;
    transition: all .2s ease;
    
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
  
  .button {
    padding: 0;
    border: 0;
    background: none;
    vertical-align: middle;
    transition: all .2s ease;
  
    &:hover {
      cursor: pointer;
    }
  }
  
  .hidden {
    display: none !important;
  }
  
  %label,
  .label {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
  }

  .search {
    position: relative;

    &:before {
      @extend %icon-search;
      position: absolute;
      top: 0;
      left: 0;
      color: $search-icon-color;
      font-size: 12px;
      line-height: 16px;
    }

    input {
      @include placeholder($search-placeholder-color);
      margin: 0;
      padding: 0 0 0 18px;
      width: 100%;
      border: 0;
      background: transparent;
      color: $search-input-color;
      font-size: 13px;
      font-family: "Cabin Condensed", sans-serif;
    }
  }