//==========================================================================
// Global Styles
//==========================================================================

  * {
    @include scrollbar(10px, $primary-light, $primary-lighter);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    
    &:focus {
      outline: none;
    }
  }

  html {
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  body {
    @extend %font-primary;
    @extend %flex-column;
    position: relative;
    overflow: hidden;
    margin: 0;
    min-width: $app-min-width;
    height: 100%;
    font-size: 13px;
  }

  .container {
    @extend %flex-row;
    flex: 1;
  }
  
  .view {
    @extend %flex-row;
    box-shadow: $view-box-shadow;
    flex: 1;
  }
  
  a {
    text-decoration: none;
    transition: all .2s ease;
    
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
  
  .button {
    @extend %font-primary;
    padding: 0;
    border: 0;
    background: none;
    vertical-align: middle;
    transition: all .2s ease;
  
    &:hover {
      cursor: pointer;
    }
  }
  
  .hidden {
    display: none !important;
  }

  .search {
    position: relative;

    &:before {
      @extend %icon-search;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 10px;
      line-height: 16px;
    }

    input {
      @extend %font-primary;
      margin: 0;
      padding: 0 0 0 15px;
      width: 100%;
      border: 0;
      background: transparent;
      font-weight: bold;
      font-size: 11px;

      &:-moz-placeholder { text-transform: uppercase; }
      &::-moz-placeholder { text-transform: uppercase; }
      &:-ms-input-placeholder { text-transform: uppercase; }
      &::-webkit-input-placeholder { text-transform: uppercase; } 
    }
  }