//==========================================================================
// Angular UI Grid
//==========================================================================

  .ngGrid {
    input {
      vertical-align: top;
    
      &[type="checkbox"] {
        margin: 0;
        padding: 0;
      }
    }
    
    &.unselectable {
      user-select: none;
    }
  }

  .ngViewport {
    overflow: auto;
    min-height: 20px;

    &:focus {
      outline: none;
    }
  }

  .ngCanvas {
    position: relative;
    min-width: 100%;
  }

  .ngVerticalBar {
    position: absolute;
    top: 25%;
    right: 0;
    z-index: 1;
    width: 1px;
    height: 50% !important; // Overrides inline style set to "rowHeight"
  }

  #testDataLength {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100000;
  }

  .ngHeaderContainer {
    position: relative;
    overflow: hidden;
    background: $label-background;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }

  .ngHeaderCell {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: inherit;

    &.pinned {
      z-index: 1;
    }

    .ngVerticalBar {
      background-color: $label-column-border;
    }
  }

  .ngHeaderSortColumn {
    position: absolute;
    overflow: hidden;
  }

  .ngTopPanel {
    position: relative;
    z-index: 1;
  }

  .ngSortButtonUp,
  .ngSortButtonDown {
    @extend %icon;
    @extend .icon-arrow;
    position: absolute;
    top: 0;
    right: 6px;
    line-height: $label-height;
  }

  .ngSortButtonUp {
    transform: rotateX(180deg);
  }

  .ngNoSort {
    cursor: default;
  }

  .ngHeaderButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: $label-height;
    height: $label-height;
    background-color: $primary-dark;
    color: $secondary;
    cursor: pointer;
  }

  .ngSortPriority {
    position: absolute;
    top: -5px;
    left: 1px;
    font-weight: bold;
    font-size: 6pt;
  }

  .ngHeaderGrip {
    position: absolute;
    top: 0;
    right: -5px;
    z-index: 1;
    width: 11px;
    height: 100%;
    cursor: col-resize;
  }

  .ngHeaderText {
    @extend %label;
    overflow: hidden;
    padding: $row-padding;
    color: $label-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: $label-height;

    &:hover {
      color: $label-color-hover;
    }
  }

  .ngHeaderButtonArrow {
    @extend %icon;
    @extend .icon-columns;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: $label-height;
  }

  .ngColMenu {
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 10px;
    background-color: $secondary;
  }

  .ngColListCheckbox {
    position: absolute;
    left: 10px;
  }

  .ngColList {
    margin: 0;
    padding: 0;
    border: 1px solid shade($secondary, 10%);
    border-bottom: 0;
    list-style-type: none;
  }

  .ngColListItem {
    position: relative;
    overflow: hidden;

    label {
      display: block;
      padding: 10px 10px 10px 30px;
      min-width: 200px;
      border-bottom: 1px solid shade($secondary, 10%);
      text-transform: uppercase;
      white-space: nowrap;
      font-weight: bold;
      font-size: 12px;

      &:hover {
        background: tint($secondary, 50%);
        cursor: pointer;
      }
    }

    input[type="checkbox"] {
      position: absolute;
      left: -60px;

      &:before {
        @extend %icon-check;
        position: absolute;
        top: 0;
        left: 70px;
        display: none;
      }
    }

    input[type="checkbox"]:checked {
      &:before {
        display: block;
      }
    }
  }

  .ngMenuText {
    display: none;
  }

  .ngRow {
    position: absolute;
    min-width: 100%;
    color: $row-color;

    &:hover {
      background-color: $row-background-color-hover;
    }

    &.selected {
      background-color: $row-selected-background-color;
      color: $row-selected-color;

      &:hover {
        background-color: $row-selected-background-color;
      }
    }
  }

  .ngCell {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: inherit;

    &.pinned {
      z-index: 1;
    }
  }

  .ngCellText {
    overflow: hidden;
    padding: $row-padding;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: $row-font-weight;
    font-size: $row-font-size;
    line-height: $row-height;

    &.now-playing-indicator,
    &.now-paused-indicator {
      padding-right: 25px;

      &:before {
        position: absolute;
        right: 4px;
        display: block;
        font-size: 18px;
        line-height: $row-height;
      }
    }

    &.now-playing-indicator {
      &:before {
        @extend .icon-volume-high;
      }
    }

    &.now-paused-indicator {
      &:before {
        @extend .icon-volume-off;
      }
    }
  }