//==========================================================================
// Angular UI Grid
//==========================================================================

  .ngGrid {
    input {
      vertical-align: top;
    
      &[type="checkbox"] {
        margin: 0;
        padding: 0;
      }
    }
    
    &.unselectable {
      user-select: none;
    }
  }

  .ngViewport {
    overflow: auto;
    min-height: 20px;

    &:focus {
      outline: none;
    }
  }

  .ngCanvas {
    position: relative;
    min-width: 100%;
  }

  .ngVerticalBar {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 1px;
    background-color: $row-column-border;
  }

  #testDataLength {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100000;
  }

  .ngHeaderContainer {
    position: relative;
    overflow: hidden;
    background-color: inherit;
    font-weight: bold;
  }

  .ngHeaderCell {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: inherit;

    &.pinned {
      z-index: 1;
    }

    .ngVerticalBar {
      background-color: $label-column-border;
    }
  }

  .ngHeaderSortColumn {
    position: absolute;
    overflow: hidden;

    &:hover {
      background: $label-background-color-hover;
    }

    &:active {
      background: $label-background-color-active;
    }

    &.ngSorted {
      background: $label-background-color-sorted;
    }
  }

  .ngTopPanel {
    position: relative;
    z-index: 1;
    padding-right: 200px;
    background-color: $label-background-color;
  }

  .ngSortButtonUp,
  .ngSortButtonDown,
  .ngAggArrowCollapsed,
  .ngAggArrowExpanded {
    @extend %icon;
    @extend .icon-arrow;
    position: absolute;
    top: 7px;
  }

  .ngSortButtonUp,
  .ngSortButtonDown {
    right: 6px;
    color: $label-sort-arrow-color;
  }

  .ngAggArrowCollapsed,
  .ngAggArrowExpanded {
    left: 6px;
    color: $row-group-arrow-color;
  }

  .ngSortButtonUp {
    top: 6px;
    transform: rotateX(180deg);
  }

  .ngAggArrowCollapsed {
    transform: rotate(-90deg);
  }

  .ngNoSort {
    cursor: default;
  }

  .ngHeaderButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: $label-height;
    height: $label-height;
    background-color: $secondary;
    cursor: pointer;
  }

  .ngHeaderScroller {
    position: absolute;
    background-color: inherit;
  }

  .ngSortPriority {
    position: absolute;
    top: -5px;
    left: 1px;
    font-weight: bold;
    font-size: 6pt;
  }

  .ngHeaderGrip {
    position: absolute;
    top: 0;
    right: -5px;
    z-index: 1;
    width: 11px;
    height: 100%;
    background-color: transparent;
    cursor: col-resize;
  }

  .ngHeaderText {
    @extend %label;
    overflow: hidden;
    padding: 6px 8px;
    color: $label-color;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ngHeaderButtonArrow {
    @extend %icon;
    @extend .icon-gear;
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 19px;
  }

  .ngColMenu {
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 10px;
    background-color: $secondary;
  }

  .ngColListCheckbox {
    position: absolute;
    left: 10px;
  }

  .ngColList {
    margin: 0;
    padding: 0;
    border: 1px solid shade($secondary, 10%);
    border-bottom: 0;
    list-style-type: none;
  }

  .ngColListItem {
    position: relative;
    overflow: hidden;

    label {
      display: block;
      padding: 10px 10px 10px 30px;
      min-width: 200px;
      border-bottom: 1px solid shade($secondary, 10%);
      text-transform: uppercase;
      white-space: nowrap;
      font-weight: 600;
      font-size: 12px;

      &:hover {
        background: tint($secondary, 50%);
        cursor: pointer;
      }
    }

    input[type="checkbox"] {
      position: absolute;
      left: -60px;

      &:before {
        @extend .icon;
        @extend .icon-check;
        position: absolute;
        top: 0;
        left: 70px;
        display: none;
      }
    }

    input[type="checkbox"]:checked {
      &:before {
        display: block;
      }
    }
  }

  .ngMenuText {
    display: none;
  }

  .ngAggHeader {
    position: absolute;
    border: none;
  }

  .ngGroupingNumber {
    display: none;
  }

  .ngAggregate {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: $row-group-background;

    &:hover {
      background: $row-group-background-hover;
      cursor: pointer;
    }
  }

  .ngAggregateText {
    display: block;
    margin-left: 25px;
    padding: 6px 8px;
    white-space: nowrap;
    font-weight: $row-font-weight;
    font-size: $row-font-size;
    line-height: $row-line-height;
  }

  .ngRow {
    position: absolute;
    min-width: 100%;
    color: $row-color;

    &.odd {
      background-color: $row-odd-background-color;

      &:hover {
        background-color: $row-odd-background-color-hover;
      }
    }

    &.even {
      background-color: $row-even-background-color;

      &:hover {
        background-color: $row-even-background-color-hover;
      }
    }

    &.selected {
      background-color: $row-selected-background-color;
      color: $row-selected-color;

      &:hover {
        background-color: $row-selected-background-color;
      }
    }
  }

  .ngCell {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: inherit;

    &.pinned {
      z-index: 1;
    }
  }

  .ngCellText {
    overflow: hidden;
    padding: 6px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: $row-font-weight;
    font-size: $row-font-size;
    line-height: $row-line-height;
  }