//==========================================================================
// List View
//==========================================================================

  .list-view {
    width: 280px;

    .item {
      position: relative;

      &:hover {
        background: tint($primary-lighter, 60%);
      }

      &.active {
        background: tint($primary-lighter, 70%);
      }

      &:after {
        @extend %icon-arrow-right;
        position: absolute;
        top: 0;
        right: 10px;
        display: flex;
        height: 100%;
        color: $primary-lighter;
        font-size: 22px;
        align-items: center;
      }

      a {
        @extend %flex-row;
        padding: 8px;
        align-items: center;
      }
    }

    .item-image {
      margin-right: 6px;
      width: 50px;
      height: 50px;
    }

    .item-info {
      margin-left: 4px;
      padding-right: 25px;
      flex: 1;
    }

    .item-info-name {
      padding: 1px 0 3px 0;
    }

    .item-info-details {
      padding-bottom: 2px;
    }
  }