/*==========================================================================
  Main
  ==========================================================================*/

  .main {
    position: relative;
    padding-bottom: $player-height;
    padding-left: $sidebar-width;
    min-width: $app-min-width;
    background: $main-background;
  }
  .toolbar {
    position: absolute;
    left: 0;
    z-index: 1;
    padding-left: $sidebar-width;
    min-width: $app-min-width;
    width: 100%;
    height: $toolbar-height;
    background: $toolbar-background;
    .search {
      position: relative;
      float: right;
      width: $sidebar-width;
      .icon-search {
        position: absolute;
        top: 10px;
        left: 10px;
        color: $search-icon-color;
        line-height: 1;
      }
      input {
        @include placeholder($search-placeholder-color);
        padding: 0 15px 0 30px;
        width: 100%;
        height: $toolbar-height;
        background: $search-background;
        color: $search-color;
      }
    }
  }
  .media-list {
    padding-top: $toolbar-height;
    height: 100%;
    color: $media-list-color;
    font-size: 13px;
    line-height: 1;
  }
  .now-playing-indicator,
  .now-paused-indicator {
    &:before {
      @extend .icon;
      position: absolute;
      top: 4px;
      right: 4px;
      display: block;
      font-size: 18px;
    }
  }
  .now-playing-indicator {
    &:before {
      @extend .icon-volume;
    }
  }
  .now-paused-indicator {
    &:before {
      @extend .icon-volume-off;
    }
  }