//==========================================================================
// Main
//==========================================================================

  .main {
    position: relative;
    padding-bottom: $player-height;
    padding-left: $sidebar-width;
    min-width: $app-min-width;
    background: $main-background;
  }
  
  .toolbar {
    position: absolute;
    left: 0;
    z-index: 1;
    padding-left: $sidebar-width;
    min-width: $app-min-width;
    width: 100%;
    height: $toolbar-height;
    background: $toolbar-background;
    font-size: 0;

    a,
    .button {
      padding-top: 0;
      padding-bottom: 0;
      height: $toolbar-height;
      color: $toolbar-nav-color;
      line-height: $toolbar-height;
      
      &:hover {
        background: $toolbar-nav-hover;
      }
      
      &.active {
        background: $toolbar-nav-active;

        &:hover {
          cursor: default;
        }
      }
    }

    .button {
      margin: 0;
      padding: 0 10px;
      vertical-align: top;
      font-size: 15px;
      line-height: 0;
    }

    .search {
      position: relative;
      float: right;
      width: $sidebar-width;

      .icon-search {
        position: absolute;
        top: 10px;
        left: 10px;
        color: $search-color;
        font-size: 15px;
        line-height: 1;
      }
     
      input {
        @include placeholder($search-color);
        padding: 10px 15px 10px 30px;
        width: 100%;
        height: $toolbar-height;
        background: $search-background;
        color: $search-input-color;
        font-weight: 600;
      }
    }
  }

  .media-list {
    padding-top: $toolbar-height;
    height: 100%;
    color: $media-list-color;
    line-height: 1;
  }

  .now-playing-indicator,
  .now-paused-indicator {
    &:before {
      position: absolute;
      top: 4px;
      right: 4px;
      display: block;
      font-size: 18px;
    }
  }

  .now-playing-indicator {
    &:before {
      @extend .icon-volume-high;
    }
  }

  .now-paused-indicator {
    &:before {
      @extend .icon-volume-off;
    }
  }