//==========================================================================
// Mixins
//==========================================================================

  // Tint
  @function tint($color, $percent){
    @return mix(white, $color, $percent);
  }

  // Shade
  @function shade($color, $percent){
    @return mix(black, $color, $percent);
  }

  // Placeholder Text
  @mixin placeholder($color) {
    &:-moz-placeholder { color: $color; }
    &::-moz-placeholder { color: $color; }
    &:-ms-input-placeholder { color: $color; }
    &::-webkit-input-placeholder { color: $color; } 
  }

  // Custom Scrollbar
  @mixin scrollbar($size, $scrollbar-background, $scrollbar-thumb-background) {
    &::-webkit-scrollbar {
      width: $size;
      height: $size;
      background: $scrollbar-background;
      box-shadow: 0 0 5px shade($scrollbar-background, 30%) inset;
    }
    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb-background;
    }
  }