//==========================================================================
// Mixins
//==========================================================================

  // Tint
  @function tint($color, $percent){
    @return mix(white, $color, $percent);
  }

  // Shade
  @function shade($color, $percent){
    @return mix(black, $color, $percent);
  }

  // Placeholder Text
  @mixin placeholder($color) {
    &:-moz-placeholder { color: $color; }
    &::-moz-placeholder { color: $color; }
    &:-ms-input-placeholder { color: $color; }
    &::-webkit-input-placeholder { color: $color; } 
  }