//==========================================================================
// Modal
//==========================================================================

  .fade {
    opacity: 0;
    transition: opacity .2s ease;

    &.in {
      opacity: 1;
    }
  }

  .modal-backdrop{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
  }

  .modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .modal-dialog {
    margin: 30px auto;
    max-width: 600px;
    transition: all .3s ease;

    .fade & {
      transform: translate(0, -25%);
    }

    .in & {
      transform: translate(0,0);
    }
  }

  .modal-content {
    padding: 20px;
    background: #fff;
    color: #222;
  }

  .modal-header {
    @extend %flex-row;
    padding-bottom: 15px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 20px;
    line-height: 1;
    justify-content: space-between;

    .close {
      color: #ccc;
      font-size: 20px;
    }
  }

  .settings {
    .form-group {
      @extend %flex-row;
      padding: 10px 0;
      border-bottom: 1px solid #f5f5f5;
      align-items: center;
      justify-content: space-between;
    }

    label {
      color: #222;
      font-weight: bold;

      small {
        font-weight: normal;
        opacity: 0.5;
      }
    }

    select,
    button {
      margin: 0;
    }

    button {
      padding: 2px 6px 4px 6px;
      border-radius: 2px;
      background: #333;
      color: #fff;
      font-weight: bold;
      line-height: 1.2;
    }
  }
