//==========================================================================
// Modal
//==========================================================================

  .fade {
    opacity: 0;
    transition: opacity .2s ease;

    &.in {
      opacity: 1;
    }
  }

  .modal-backdrop{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
  }

  .modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .modal-dialog {
    margin: 30px auto;
    max-width: 600px;
    transition: all .3s ease;

    .fade & {
      transform: translate(0, -25%);
    }

    .in & {
      transform: translate(0,0);
    }
  }

  .modal-content {
    padding: 20px;
    background: #fff;
    color: #222;
  }

  .modal-header {
    @extend %flex-row;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1;
    justify-content: space-between;

    .close {
      font-size: 16px;
      color: #ccc;
    }
  }

