//==========================================================================
// Player Bar
//==========================================================================

  .player-bar {
    @extend %flex-row;
    z-index: 2;
    min-width: $app-min-width;
    width: 100%;
    height: $player-height;
    background: $player-background;
    color: $player-color;
    text-align: center;

    .button {
      margin: 0;
      color: $player-button-color;

      > span {
        width: 40px;
        height: 40px;
        font-size: 30px;
        line-height: 40px;
      }

      &:hover {
        color: $player-button-color-hover;
      }

      &.active {
        color: $player-button-color-active;
        text-shadow: $player-button-text-shadow-active;
      }
    }
  }

  .player-buttons {
    @extend %flex-row;
    @extend %flex-center;
    padding: 0 20px;
  }

  .progress-container {
    @extend %flex-column;
    @extend %flex-center;
    flex: 1;
  }

  .progress {
    @extend %flex-row;
    @extend %flex-center;
    position: relative;
    bottom: -$player-height;
    padding-top: 1px;
    width: 100%;
    transition: all .4s cubic-bezier(0, 0.75, 0.4, 1.25);

    &.isPlaying {
      bottom: 0;
    }

    .time {
      width: 30px;
      font-weight: bold;
      font-size: 12px;
      line-height: 1;

      &.time-passed {
        left: 0;
      }

      &.time-remain {
        right: 0;
      }
    }
  }

  .progress-bar {
    position: relative;
    margin: 0 15px;
    flex: 1;

    .noUi-base {
      &:before {
        background: $progress-bar-filled-background;
      }
    }

    .noUi-origin {
      &:before {
        background: $progress-bar-empty-background;
      }
    }

    .noUi-handle {
      border-color: $progress-bar-handle-border-color;
      background: $progress-bar-handle-background;

      &:hover {
        background: $progress-bar-handle-background-hover;
      }
    }
  }

  .volume-dropdown {
    .dropdown {
      bottom: 45px;
      left: 8px;
      padding: 15px 5px;
      border-radius: 20px;
      background: $volume-background;
    }
  }

  .volume-slider {
    position: relative;
    height: 100px;

    .noUi-base {
      &:before {
        background: $volume-empty-background;
      }
    }

    .noUi-origin {
      &:before {
        background: $volume-filled-background;
      }
    }

    .noUi-handle {
      border-color: $volume-background;
      background: $volume-handle-background;

      &:hover {
        background: $volume-handle-background-hover;
      }
    }
  }