//==========================================================================
// Placeholders
//==========================================================================

  %flex-row {
    display: flex;
    flex-direction: row;
  }

  %flex-column {
    display: flex;
    flex-direction: column;
  }

  %flex-center {
    align-items: center;
    justify-content: center;
  }
  
  %no-wrap {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  %clearfix {
    &:before,
    &:after {
      display: table;
      content: " ";
    }
    &:after { 
     clear: both;
    }
  }

  %hide {
    opacity: 0;
    transition: all .2s ease;
    transform: scale(0.95);
    pointer-events: none;
  }

  %show {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
  }

  %item-image {
    position: relative;
    background: $primary-dark;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: block;
      box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset, 0 1px 0 1px rgba(255,255,255,0.2) inset, 0 1px 4px rgba(0,0,0,0.3);
      content: '';
    }
  }