//==========================================================================
// Placeholders
//==========================================================================

  %flex-row {
    display: flex;
    flex-direction: row;
  }

  %flex-column {
    display: flex;
    flex-direction: column;
  }

  %flex-center {
    align-items: center;
    justify-content: center;
  }
  
  %no-wrap {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  %clearfix {
    &:before,
    &:after {
      display: table;
      content: " ";
    }
    &:after { 
     clear: both;
    }
  }

  %hide {
    opacity: 0;
    transition: all .2s ease;
    transform: scale(0.95);
    pointer-events: none;
  }

  %show {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
  }