/*==========================================================================
  Player
  ==========================================================================*/

  .player {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    min-width: $app-min-width;
    width: 100%;
    height: $player-height;
    background: $dark-blue;
    color: $light-blue;
    text-align: center;
    .player-col-side {
      padding: 20px 0;
      width: $sidebar-width;
    }
    .player-col-middle {
      flex: 1;
    }
    .button {
      width: 40px;
      height: 40px;
      color: $light-blue;
      font-size: 24px;
      line-height: 0;
      &:hover {
        color: $white;
      }
      &.button-play {
        margin: 0 4px;
        border-radius: 50%;
        background: $light-blue;
        color: $dark-blue;
        &:hover {
          background: $lighter-blue;
          color: $darker-blue;
        }
      }
    }
  }

  .progress {
    position: relative;
    top: 35px;
    margin: 0 40px;
    &.disabled {
      display: none;
    }
    .time {
      position: absolute;
      top: -1px;
      z-index: 1;
      font-size: 12px;
      line-height: 1;
      &.time-passed {
        left: 0;
      }
      &.time-remain {
        right: 0;
      }
    }
    .progress-bar-container {
      position: relative;
      margin: 0 35px;
      height: 10px;
    }
    .noUi-base {
      background: $light-blue;
    }
    .noUi-target {
      border: 0;
      border-radius: none;
    }
    .noUi-background {
      background: $darker-blue;
      box-shadow: none;
    }
    .noUi-origin {
      border-radius: 0;
    }
    .noUi-horizontal .noUi-handle {
      width: 5px;
      height: 20px;
      width: 4px;
      height: 14px;
      top: -2px;
      left: 0;
      background: $lighter-blue;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      transition: background 1s ease;
      &:hover {
        background: $white;
        cursor: pointer;
      }
      &:before, &:after {
        display: none;
      }
    }

    .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background: $darker-blue;
    }
    .progress-bar-played {
      z-index: 1;
      width: 0%;
      background: $light-blue;
      .progress-tick {
        position: absolute;
        top: -2px;
        right: -4px;
        display: block;
        width: 4px;
        height: 14px;
        background: $lighter-blue;
        content: '';
        transition: background 1s ease;
        &:hover {
          background: $white;
          cursor: pointer;
        }
      }
    }
  }
