//==========================================================================
// Sidebar
//==========================================================================

  .sidebar {
    position: absolute;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-bottom: $player-height;
    width: $sidebar-width;
    height: 100%;
    background: $sidebar-background;
    color: $sidebar-color;

    .nav {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
      flex: 1;

      a {
        color: $sidebar-link-color;

        &:hover {
          background: $sidebar-link-background-hover;
          color: $sidebar-link-color-hover;
        }
      }
    }
  }

  .sidebar-title {
    @extend %label;
    padding: 10px 12px;
    color: $sidebar-title-color;

    .button {
      position: absolute;
      top: 0;
      right: 4px;
      width: 30px;
      height: 30px;
      color: inherit;
      font-size: 21px;

      &:hover {
        color: $sidebar-title-button-color;
      }
    }
  }

  .now-playing-container {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: -250px;
    transition: all .4s cubic-bezier(0, 0.75, 0.4, 1.25);

    &.isPlaying {
      bottom: 0;
    }

    .sidebar-title {
      background: $now-playing-sidebar-title-background;
      color: $now-playing-sidebar-title-color;
      transition: all .2s ease;

      &:hover {
        background: $now-playing-sidebar-title-background-hover;
        color: $now-playing-sidebar-title-color-hover;
        cursor: pointer;
      }

      .button {
        transition: none;
      }
    }
  }

  .now-playing {
    position: relative;
    background-color: $now-playing-background-color;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s cubic-bezier(0.250, -0.150, 0.250, 1.150);
  
    .now-playing-info {
      position: absolute;
      bottom: 0;
      z-index: 2;
      padding: 10px;
      background: $now-playing-info-background;

      .track-name {
        color: $now-playing-info-track-name;
      }

      .track-info {
        color: $now-playing-info-track-info;
      }
    }
  }

  .now-playing-artwork {
    display: block;
    height: $sidebar-width;
    background: $now-playing-artwork-missing-background;
    background-size: cover;

    img {
      max-width: 100%;
      height: auto;
    }
  }