//==========================================================================
// Sidebar
//==========================================================================

  .sidebar {
    @extend %flex-column;
    width: $sidebar-width;
    background: $sidebar-background;

    .nav {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      flex: 1;

      ul {
        margin: 0 0 12px 0;
        padding: 0;
        color: $sidebar-link-color;
        list-style: none;
        font-size: 0;
      }

      .sidebar-link {
        @extend %flex-row;
        padding: 0 10px;
        height: 32px;
        color: $sidebar-link-color;
        font-weight: bold;
        font-size: 12px;
        align-items: center;

        &.active {
          background: $sidebar-link-active-background;
          color: $sidebar-link-active-color;
        }

        &.add-playlist {
          opacity: 0.5;
        }

        &.edit-playlist {
          @extend %flex-row;
          color: $sidebar-link-color;

          form {
            @extend %flex-row;
            flex: 1;
            align-items: center;
            margin-left: -4px;
          }

          input {
            @include placeholder(rgba($sidebar-link-color, .5));
            padding: 4px;
            border: 1px solid rgba($sidebar-link-color, .2);
            color: $sidebar-link-color;
            font-weight: bold;
            font-size: 12px;
            flex: 1;
          }
        }

        span[class*="icon"] {
          display: block;
          font-size: 20px;

          &:first-of-type {
            margin-right: 4px;
          }
        }

        .icon-close {
          margin: 0 0 0 5px;
        }

        .sidebar-link-name {
          flex: 1;
        }
      }
    }
  }

  .sidebar-title {
    position: relative;
    padding: 0 12px;
    height: $sidebar-title-height;
    color: $sidebar-title-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    line-height: $sidebar-title-height;

    .button {
      position: relative;
      float: right;
      margin: 0;
      height: $sidebar-title-height;
      color: inherit;

      span {
        &:before {  
          font-size: 16px;
          line-height: $sidebar-title-height;
        }
      }
    }
  }