//==========================================================================
// Toolbar
//==========================================================================

  .main {
    @extend %flex-column;
    background: tint($primary-lighter, 50%);
    flex: 1;
  }
  
  .toolbar {
    @extend %flex-row;
    z-index: 2;
    width: 100%;
    background: $toolbar-background;
    font-size: 0;
    align-items: center;
    padding: $toolbar-padding;

    .nav {
      flex: 1;
    }

    .nav-horizontal > ul > li > a {
      padding-top: 0;
      padding-bottom: 0;
      height: $toolbar-height;
      color: tint($toolbar-background, 20%);
      text-transform: uppercase;
      font-size: 12px;
      line-height: $toolbar-height;
      transition: all .3s ease;
      
      &:hover {
        color: tint($toolbar-background, 80%);
      }
      
      &.active {
        border-bottom: 2px solid tint($toolbar-background, 50%);
        color: tint($toolbar-background, 80%);

        &:hover {
          cursor: default;
        }
      }
    }

    .actions {
      display: block;
      order: 3;

      .dropdown-toggle {
        display: block;
        padding: 0 12px;
        color: #fff;
        font-size: 14px;

        .icon-gear {
          line-height: $toolbar-height;
        }
      }
    }
  }

  .search {
    position: relative;
    float: right;

    input {
      @include placeholder($search-placeholder-color);
      padding: 0 0 0 20px;
      width: 100%;
      border: 0;
      background: transparent;
      color: $search-input-color;
      height: $toolbar-height;
    }

    &:before {
      @extend %icon-search;
      position: absolute;
      top: 0;
      left: 0;
      color: $search-icon-color;
      font-size: 12px;
      line-height: $toolbar-height;
    }
  }