//==========================================================================
// Default Theme Variables
//==========================================================================

  // Colors
  //========================================================================
  $primary: #2c3e50 !default; // Dark Blue
  $secondary: #ecf0f1 !default; // Light Grey
  $success: #27ae60 !default; // Green


  // Theme
  //========================================================================
  $theme-sidebar: $secondary !default;
  $theme-sidebar-selection: $primary !default;
  $theme-view-header: $secondary !default;
  $theme-view: $secondary !default;
  $theme-view-selection: $primary !default;
  $theme-player: $primary !default;
  

  // Sidebar
  //========================================================================
  $sidebar-width: 180px !default;
  $sidebar-background: $theme-sidebar !default;
  $sidebar-title-height: 32px !default;
  $sidebar-title-color: mix-color($sidebar-background, 20%) !default;
  $sidebar-link-color: mix-color($sidebar-background, 40%) !default;
  $sidebar-link-background-hover: inherit !default;
  $sidebar-link-color-hover: mix-color($sidebar-link-color, 20%) !default;
  $sidebar-link-background-active: $theme-sidebar-selection !default;
  $sidebar-link-color-active: mix-color($sidebar-link-background-active, 80%) !default;
  
    // Now Playing
    $now-playing-artwork-missing-background: #000 url(../../../../static/img/missing-artwork.png) !default;
    $now-playing-info-height: 45px !default;
    $now-playing-info-background: $sidebar-background !default;
    $now-playing-info-track-name: mix-color($sidebar-background, 40%) !default;
    $now-playing-info-track-info: mix-color($sidebar-background, 20%) !default;


  // Views
  //========================================================================
  $view-background: $theme-view !default;
  $view-box-shadow: 0px 0 4px rgba(0,0,0,0.2) !default;

  $view-item-color: mix-color($view-background, 40%) !default;
  $view-item-color-muted: mix-color($view-background, 20%) !default;
  $view-item-background-selected: mix-color($view-background, 10%) !default;
  $view-item-color-selected: mix-color($view-background, 40%) !default;
  $view-item-background-focused: $theme-view-selection !default;
  $view-item-color-focused: mix-color($view-item-background-focused, 80%) !default;

    // View Sidebar
    $view-sidebar-width: 240px !default;
    $view-sidebar-item-height: 54px !default;

    // View Main
    $row-height: 24px !default; // Set equal to "headerRowHeight" in controllers/grid-controller.coffee
    $row-padding: 8px !default; // Left & right value only (e.g. "12px")


  // View Headers
  //========================================================================
  $view-header-background: $theme-view-header !default;
  $view-header-color: mix-color($view-header-background, 60%) !default;
  $view-header-color-muted: mix-color($view-header-background, 30%) !default;
  $view-header-play-button-background: $success !default;

    // View Header - Column Labels
    $label-height: 28px !default; // Set equal to "rowHeight" in controllers/grid-controller.coffee
    $label-background: $view-header-background !default;
    $label-color: $view-header-color-muted !default;
    $label-color-hover: $view-header-color !default;
    $label-column-border: rgba($view-header-color-muted, .4) !default;
    $label-sort-arrow-color: $view-header-color !default;

  
  // Player
  //========================================================================
  $player-height: 60px !default;
  $player-background: $theme-player !default;
  $player-button-color: mix-color($player-background, 60%) !default;
  $player-button-color-hover: mix-color($player-background, 80%) !default;
  $player-button-color-active: mix-color($player-background, 100%) !default;

    // Progress Bar
    $player-time-color: mix-color($player-background, 60%) !default;
    $player-slider-filled-background: mix-color($player-background, 80%) !default;
    $player-slider-empty-background: mix-color($player-background, 20%) !default;
    $player-slider-handle-background: mix-color($player-background, 80%) !default;
    $player-slider-handle-background-hover: mix-color($player-background, 100%) !default;


  // Misc
  //========================================================================
    
    // Global
    $body-background: $theme-view !default;
    $app-min-width: 700px !default;

    // Scrollbar
    $scrollbar-size: 8px !default;
    $scrollbar: mix-color($theme-view, 20%) !default;
    $scrollbar-background: mix-color($theme-view, 40%) !default;
    $scrollbar-box-shadow: 0 0 8px shade($scrollbar-background, 10%) inset !default;

    // Artwork
    $missing-artwork-background: #000 !default;

    // Dropdowns
    $dropdown-menu-background: mix-color($theme-view, 20%) !default;
    $dropdown-menu-link-padding: 8px 12px !default;
    $dropdown-menu-link-color: mix-color($dropdown-menu-background, 20%) !default;
    $dropdown-menu-link-color-hover: mix-color($dropdown-menu-background, 40%) !default;