//==========================================================================
// View
//==========================================================================

  .view {
    @extend %flex-row;
    flex: 1;
    align-items: stretch;
  }

  .view-items {
    position: relative;
    overflow-y: scroll;
    line-height: 1;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .item-image {
      position: relative;
      background: $primary-dark;
    
      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset, 0 1px 0 1px rgba(255,255,255,0.2) inset, 0 1px 4px rgba(0,0,0,0.3);
        content: '';
      }
    }
    
    .item-info-name {
      @extend %no-wrap;
      color: $primary;
      font-weight: bold;
      font-size: 13px;
    }

    .item-info-details {
      @extend %no-wrap;
      color: $primary-lighter;
      font-size: 12px;
    }
  }

  .view-details {
    @extend %flex-column;
    flex: 1;
    align-items: stretch;
  }

  .view-header {
    padding: $view-header-padding;
    color: $primary-light;

    h2 {
      margin: 0 0 4px 0;
      font-size: 24px;
      line-height: 1;
    }

    h3 {
      margin: 0 0 8px 0;
      font-size: 16px;
      font-weight: normal;
    }

    .button {
      background: $view-toolbar-play-button-background;
      color: #fff;
      margin: 0;
      padding: 0 12px 0 8px;
      line-height: $view-toolbar-height;
      height: $view-toolbar-height;

      &:before {
        @extend %icon-play-fill;
        line-height: 0;
        margin-right: 4px;
      }
    }
  }