//==========================================================================
// View Main
//==========================================================================

  .view-main {
    @extend %flex-column;
    flex: 1;
    align-items: stretch;
  }

//==========================================================================
// View Main - Header
//==========================================================================
  
  .view-main-header {
    @extend %flex-row;
    padding: $view-main-header-padding;
    background: $view-main-header-background;
    color: $view-main-header-color;
    justify-content: space-between;
    align-items: flex-start;
    
    .view-details {
      @extend %flex-row;
      flex: 1;
    }

    .item-image {
      @extend %item-image;
      margin-right: 10px;
      width: 68px;
      height: 68px;
    }

    .item-info {
      padding-left: 2px;
      flex: 1;
    }

    .item-info-name {
      @extend %no-wrap;
      padding: 0 0 4px 0;
      font-weight: bold;
      font-size: 20px;
      line-height: 1;
    }

    .item-info-details {
      @extend %no-wrap;
      font-size: 14px;
    }

    .button {
      margin: 0 0 0 4px;
      padding: 2px 8px 2px 4px;
      border-radius: 10px;
      background: $view-main-header-play-button-background;
      color: #fff;
      vertical-align: top;
      font-size: 11px;

      &:before {
        @extend %icon-play-fill;
        top: -1px;
        margin-right: 2px;
      }
    }

    .search {
      margin-right: 24px;

      &:before {
        color: $view-main-header-search-color;
        line-height: 20px;
      }

      input {
        @include placeholder($view-main-header-search-color);
        color: $view-main-header-search-input-color;
        line-height: 20px;
      }
    }
  }

//==========================================================================
// View Main - List
//==========================================================================

  .view-main-list {
    width: 100%;
    background: $view-main-background;
    line-height: 1;
    flex: 1;
  }