//==========================================================================
// View Main
//==========================================================================

  .view-main {
    @extend %flex-column;
    z-index: 2;
    box-shadow: 0 0px 4px rgba(0,0,0,0.2);
    flex: 1;
    align-items: stretch;

    &.view-main--songs {
      box-shadow: none;
    }
  }

//==========================================================================
// View Main - Header
//==========================================================================
  
  .view-main-header {
    @extend %flex-row;
    background: $view-header-background;
    color: $view-header-color;
    justify-content: space-between;
    align-items: flex-start;
    
    .view-details {
      @extend %flex-row;
      flex: 1;
    }

    .item-image {
      @extend %item-image;
      width: 82px;
      height: 82px;
    }

    .item-info {
      padding: 8px 12px;
      flex: 1;
    }

    .item-info-name {
      @extend %no-wrap;
      padding: 0 0 3px 0;
      font-weight: bold;
      font-size: 20px;
      line-height: 1;
    }

    .item-info-details {
      @extend %no-wrap;
      padding: 0 0 8px 0;
      font-size: 14px;
    }

    .button {
      margin: 0;
      padding: 2px 6px 3px 3px;
      background: $view-header-play-button-background;
      color: #fff;
      vertical-align: top;
      font-weight: bold;
      font-size: 11px;

      &:before {
        @extend %icon-play-fill;
        top: -1px;
        margin-right: 2px;
      }
    }

    .search {
      position: relative;
      margin: 8px 40px 0 0;

      &:before {
        color: $view-header-color-muted;
      }

      input {
        @include placeholder($view-header-color-muted);
        color: $view-header-color;
      }
    }
  }

//==========================================================================
// View Main - List
//==========================================================================

  .view-main-list {
    overflow: hidden;
    width: 100%;
    background: $view-background;
    line-height: 1;
    flex: 1;
  }