//==========================================================================
// View Sidebar
//==========================================================================

  .view-sidebar {
    @extend %flex-column;
    position: relative;
    width: $view-sidebar-width;
    line-height: 1;
    overflow: hidden;
  }
    
//==========================================================================
// View Sidebar - Header
//==========================================================================
  
  .view-sidebar-header {
    @extend %flex-row;
    z-index: 2;
    padding: 8px 10px;
    width: 100%;
    background: $view-sidebar-header-background;
    box-shadow: 0 0px 2px rgba(0,0,0,0.4);
    color: $view-sidebar-header-color;
    
    .search {
      flex: 1;

      &:before {
        color: $view-sidebar-header-search-color;
      }

      input {
        @include placeholder($view-sidebar-header-search-color);
        padding-right: 8px;
        color: $view-sidebar-header-search-input-color;
      }
    }
    
    .dropdown-toggle {
      padding-right: 15px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
      line-height: 1.5;

      &:after {
        @extend %icon-arrow;
        position: absolute;
        right: 0;
        font-size: 11px;
        line-height: 1.5;
      }
    }
  }

//==========================================================================
// View Sidebar - List
//==========================================================================

  .view-sidebar-list {
    overflow-y: scroll;
    background: $view-sidebar-list-background;
    flex: 1;
    
    ul {
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .item {
      position: relative;
      background: $view-sidebar-item-background;
      width: 232px;
      position: absolute;

      &.hover {
        background: $view-sidebar-item-background-hover;

        .item-info-name {
          color: $view-sidebar-item-info-name-color-hover;
        }

        .item-info-details {
          color: $view-sidebar-item-info-details-color-hover;
        }
      }

      &.selected {
        background: $view-sidebar-item-background-selected;
        
        .focused & {
          background: $view-sidebar-item-background-focused;
        }
        
        .item-info-name {
          color: $view-sidebar-item-info-name-color-selected;
        }

        .item-info-details {
          color: $view-sidebar-item-info-details-color-selected;
        }
      }

      a {
        @extend %flex-row;
        height: $view-sidebar-item-height;
        align-items: center;
      }
    }

    .item-image {
      @extend %item-image;
      width: $view-sidebar-item-height;
      height: $view-sidebar-item-height;
    }

    .item-info {
      margin-left: 4px;
      padding: 0 8px;
      flex: 1;
    }
    
    .item-info-name {
      @extend %no-wrap;
      padding-bottom: 4px;
      color: $view-sidebar-item-info-name-color;
      font-weight: bold;
      font-size: 12px;
    }

    .item-info-details {
      @extend %no-wrap;
      color: $view-sidebar-item-info-details-color;
      font-size: 11px;
    }
  }
