//==========================================================================
// Import Mixins
//==========================================================================

  @import "../../mixins";


//==========================================================================
// Layout Variables
//==========================================================================
  
  $app-min-width: 700px;
  $toolbar-height: 34px;
  $sidebar-width: 200px;
  $player-height: 60px;


//==========================================================================
// Color Variables
//==========================================================================
  
  $primary: #34495e;
  $primary-light: tint($primary, 20%);
  $primary-lighter: tint($primary, 40%);
  $primary-dark: shade($primary, 20%);
  $primary-darker: shade($primary, 40%);
  $secondary: #ecf0f1;


//==========================================================================
// Theme Variables
//==========================================================================
  
  // Main
  //========================================================================
  $main-background: tint($primary-lighter, 50%);
  
    // Toolbar
    $toolbar-background: $primary-darker;
    $toolbar-nav-hover: $primary-dark;
    $toolbar-nav-active: $primary-light;
    $toolbar-nav-color: $secondary;
    
    // Search
    $search-color: $primary-light;
    $search-background: $primary-darker;
    $search-input-color: $secondary;

  // Grid
  //========================================================================
  $media-list-color: $primary-dark;
  
    // Column Labels
    $label-height: 26px;
    $label-background-color: $primary-light;
    $label-background-color-hover: linear-gradient(tint($primary-light, 5%), $primary-light);
    $label-background-color-active: linear-gradient($primary-light, tint($primary-light, 5%));
    $label-background-color-sorted: linear-gradient(shade($primary-light, 15%), shade($primary-light, 5%));
    $label-color: $secondary;
    $label-column-border: shade($primary-light, 20%);
    $label-sort-arrow-color: $secondary;
    
    // Rows
    $row-background-color: tint($primary-lighter, 50%);
    $row-background-color-hover: tint($primary-lighter, 55%);
    $row-color: $primary-light;
    $row-selected-background-color: $primary;
    $row-selected-color: $secondary;
    $row-font-size: 12px;
    $row-font-weight: 600;
    $row-line-height: 14px;
    $row-column-border: transparent;
    $row-group-background: linear-gradient(tint($primary-light, 40%), tint($primary-light, 35%));
    $row-group-background-hover: linear-gradient(tint($primary-light, 45%), tint($primary-light, 35%));
    $row-group-arrow-color: $primary;
  
  // Player
  //========================================================================
  $player-background: $primary-darker;
  $player-color: $primary-lighter;
  $player-button-color: $primary-light;
  $player-button-color-hover: $primary-lighter;
  $player-button-color-active: $secondary;
  $player-button-text-shadow-active: 0 0 2px rgba($secondary, .5), 0 0 6px rgba($secondary, .3), 0 0 10px rgba($secondary, .1);
  
    // Progress Bar
    $progress-bar-filled-background: tint($primary-darker, 50%);
    $progress-bar-empty-background: shade($primary-darker, 50%);
    $progress-bar-empty-box-shadow: 0 1px 0 tint($primary-darker, 2%);
    $progress-bar-handle-background: tint($primary-lighter, 50%);
    $progress-bar-handle-background-hover: $secondary;

    // Volume Slider
    $volume-background: $primary-lighter;
    $volume-filled-background: $primary-dark;
    $volume-empty-background: shade($primary-lighter, 20%);
    $volume-handle-background: tint($primary-lighter, 50%);
    $volume-handle-background-hover: $secondary;

  // Sidebar
  //========================================================================
  $sidebar-background: $primary-darker;
  $sidebar-color: $primary-lighter;
  $sidebar-title-height: 35px;
  $sidebar-title-color: $primary-light;
  $sidebar-title-button-color: $secondary;
  $sidebar-link-color: $primary-lighter;
  $sidebar-link-background-hover: $primary-dark;
  $sidebar-link-color-hover: $secondary;
  
    // Now Playing
    $now-playing-artwork-missing-background: darken($primary-darker, 10%) url(../../../../static/img/missing-artwork.png);
    $now-playing-sidebar-title-background: $primary;
    $now-playing-sidebar-title-color: $primary-light;
    $now-playing-sidebar-title-background-hover: tint($primary, 2%);
    $now-playing-sidebar-title-color-hover: $secondary;
    $now-playing-background-color: $primary-darker;
    $now-playing-info-height: 50px;
    $now-playing-info-background: rgba($primary-darker, .9);
    $now-playing-info-track-name: $secondary;
    $now-playing-info-track-info: $secondary;


//==========================================================================
// Import Global Imports
//==========================================================================

  @import "../../imports";
